<h2>Über</h2>
<p>Als keines Einarbeitsprojekt habe ich diese Seite mit Rails erstellt. Falls Du Deine eigene Reise damit dokumentieren möchtest, gibt es das ganze  bei GitHub unter der GPL zum Download: <a href="https://github.com/sdennler/TravelLog" target="_blank">TravelLog bei GitHub</a>. Eine kurze Mail an <strong>blacksmith at heldenschmiede dot ch</strong> mit der Adresse Deiner Seite wäre toll!</p>
<p>Neben Rails basiert das Layout dieser Seite auch auf dem HTML/CSS Framework <a href="http://www.yaml.de/">YAML</a>.</p> 
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque. Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed, aliquet vel, quam. Pellentesque molestie laoreet tortor. Aenean quam. Pellentesque magna metus.</p>
