<% content_for :navbub do %>

<h2>Reiseziele</h2>

<%= render 'search_form' %>

<div id="post_list" class="post_list">

<%= render 'post_list' %>

</div>

<%= link_to 'New Post', new_post_path %>

<% end %>
