<% content_for :navbub do %>

<h2>Karte</h2>

<div class="smalmap" id="map"></div>

<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script defer="defer" type="text/javascript">
  var map = new OpenLayers.Map('map');
  var wms = new OpenLayers.Layer.WMS( "OpenLayers WMS",
      "http://vmap0.tiles.osgeo.org/wms/vmap0", {layers: 'basic'} );
  map.addLayer(wms);
  map.zoomToMaxExtent();
</script>

<% end %>
